.body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
}
.grid{
    margin-top: -8px;
    width: 500px;
    height: 500px;
    display: grid;
    margin-bottom: 8px;

}
.sliderbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    gap: 5px;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
body{
    margin-top: -3px;
    background-color:cadetblue;
}
button{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 12px;
    border-radius: 20px;
    background-color: aquamarine;
    
}
p{
    font-size: 12px;
    font-weight: 500;
}
button:hover{
    background-color: cadetblue;
    color: blanchedalmond;
}
#slider:hover{
    color: blanchedalmond;
    background-color: blanchedalmond;
}
input[type="range"] {
    background: black;
    width: 70%;
    fill: aquamarine;
}
a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}